{% extends "home.html" %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
    <div class="service-banner-2">
        <div class="service-text-2">
            <h3>Пакеты услуг от 99 ₽/мес</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <img src="{% static 'icon/service.png' %}" alt="Service" class="service-image-2">
        <button class="order-button-2">Заказать</button>
    </div>

    <h2>Мои покупки</h2>
<div class="search-filter-1">
    <input type="text" placeholder="Поиск" class="search-bar-1">
    <button class="filter-button-1">
        <img src="{% static 'icon/Ellipse.png' %}" alt="Filter">
        <span>Фильтры</span>
    </button>
</div>
<div class="purchases-container">
    {% if purchases %}
        <ul>
            {% for purchase in purchases %}
                <li>
                    <strong>Продукт:</strong> {{ purchase.product.name }}
                    <br>
                    <strong>Дата покупки:</strong> {{ purchase.purchase_date }}
                    <br>
                    <strong>Сумма:</strong> {{ purchase.amount }} руб.
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div>У вас пока нет покупок.</div>
    {% endif %}
</div>

    <h2>Лицензии</h2>
    <div class="search-filter-2">
        <input type="text" placeholder="Поиск" class="search-bar-2">
        <button class="filter-button-2">
            <img src="{% static 'icon/Ellipse.png' %}" alt="Filter">
            <span>Фильтры</span>
        </button>
    </div>
    <div class="empty-state-2">
        Здесь ничего не найдено
    </div>
{% endblock %}
