{% extends "home.html" %}
{% load static %}
{% block title %}Обновления и драйверы{% endblock %}

{% block content %}
    <div class="service-banner-3">
        <div class="service-text-3">
            <h3>Пакеты услуг от 99 ₽/мес</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <img src="{% static 'icon/service.png' %}" alt="Service" class="service-image-3">
        <button class="order-button-3">Заказать</button>
    </div>

    <h2>Обновления и драйверы</h2>
    <div class="search-filter-3">
        <input type="text" placeholder="Поиск" class="search-bar-3">
        <button class="filter-button-3">
            <img src="{% static 'icon/Ellipse.png' %}" alt="Filter">
            <span>Фильтры</span>
        </button>
    </div>

    <div class="product-grid-3">
        <div class="product-card-3">
            <div class="product-info-3">
                <h3>Название обновления</h3>
                <p>Описание обновления Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="download-button-3">Скачать <img src="{% static 'icon/strelka.png' %}" alt="Download"></button>
            </div>
            <img src="{% static 'icon/drova.png' %}" alt="Обновление" class="product-image-3">
        </div>
        <div class="product-card-3">
            <div class="product-info-3">
                <h3>Название обновления</h3>
                <p>Описание обновления Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="download-button-3">Скачать <img src="{% static 'icon/strelka.png' %}" alt="Download"></button>
            </div>
            <img src="{% static 'icon/drova.png' %}" alt="Обновление" class="product-image-3">
        </div>
        <div class="product-card-3">
            <div class="product-info-3">
                <h3>Название обновления</h3>
                <p>Описание обновления Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="download-button-3">Скачать <img src="{% static 'icon/strelka.png' %}" alt="Download"></button>
            </div>
            <img src="{% static 'icon/drova.png' %}" alt="Обновление" class="product-image-3">
        </div>
        <div class="product-card-3">
            <div class="product-info-3">
                <h3>Название обновления</h3>
                <p>Описание обновления Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="download-button-3">Скачать <img src="{% static 'icon/strelka.png' %}" alt="Download"></button>
            </div>
            <img src="{% static 'icon/drova.png' %}" alt="Обновление" class="product-image-3">
        </div>
    </div>
{% endblock %}
