{% extends "home.html" %}
{% load static %}
{% block title %}История платежей{% endblock %}

{% block content %}
    <div class="service-banner-4">
        <div class="service-text-4">
            <h3>Пакеты услуг от 99 ₽/мес</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <img src="{% static 'icon/service.png' %}" alt="Service" class="service-image-4">
        <button class="order-button-4">Заказать</button>
    </div>

    <h2>История платежей</h2>
    <div class="search-filter-4">
        <input type="text" placeholder="Поиск" class="search-bar-4">
        <button class="filter-button-4">
            <img src="{% static 'icon/Ellipse.png' %}" alt="Filter">
            <span>Фильтры</span>
        </button>
        <button class="generate-invoice-button-4">Сформировать счет<img src="{% static 'icon/Arrow.png' %}" alt="Invoice"></button>
    </div>

    <div class="table-container-4">
        <table class="table-4">
            <thead>
                <tr>
                    <th>Сумма платежа</th>
                    <th>Дата платежа</th>
                    <th>№ Платежа</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1200₽</td>
                    <td>23.12.2023</td>
                    <td>№ 2873</td>
                    <td class="status-completed-4">Выполнен</td>
                </tr>
                <tr>
                    <td>1200₽</td>
                    <td>23.12.2023</td>
                    <td>№ 2873</td>
                    <td class="status-in-progress-4">В работе</td>
                </tr>
                <tr>
                    <td>1200₽</td>
                    <td>23.12.2023</td>
                    <td>№ 2873</td>
                    <td class="status-cancelled-4">Отменен</td>
                </tr>
                <tr>
                    <td>1200₽</td>
                    <td>23.12.2023</td>
                    <td>№ 2873</td>
                    <td class="status-completed-4">Выполнен</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pagination-4">
        <a href="#" class="page-4 active-4">1</a>
        <a href="#" class="page-4">2</a>
        <a href="#" class="page-4">3</a>
        <a href="#" class="next-page-4">></a>
    </div>
{% endblock %}
