{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOW&h - Ваш надежный партнер в мире IT</title>
    <!-- Подключение стилей -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">



</head>
<body>
<div class="header">
    <div class="container">
        <div class="header-line">
            <div class="header-logo">
                <img class="logo-large" src="{% static 'images/first/logo.svg' %}" alt="Название компании">
                <img class="logo-small" src="{% static 'images/first/logo01.png' %}" alt="Название компании">
            </div>

            <div class="nav">
                <a class="nav-item" href="{% url 'home' %}">Главная</a>
                <a class="nav-item" href="{% url 'page2' %}">Проекты</a>
                <a class="nav-item" href="{% url 'page3' %}">Новости</a>
                <a class="nav-item" href="{% url 'page4' %}">Охрана труда</a>
                <a class="nav-item" href="{% url 'page5' %}">Контакты</a>
            </div>

            <div class="btn">
                <a class="button1" href="#">Войти</a>
                <a class="button2" href="#">Регистрация</a>
            </div>

            <div class="burger1" onclick="toggleMobileMenu1()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="mobile-nav1 hide1">
        <a class="mobile-nav-item1" href="{% url 'home' %}">Главная</a>
        <a class="mobile-nav-item1" href="{% url 'page2' %}">Проекты</a>
        <a class="mobile-nav-item1" href="{% url 'page3' %}">Новости</a>
        <a class="mobile-nav-item1" href="{% url 'page4' %}">Охрана труда</a>
        <a class="mobile-nav-item1" href="{% url 'page5' %}">Контакты</a>
        <div class="mobile-btn1">
            <a class="button1" href="#">Войти</a>
            <a class="button2" href="#">Регистрация</a>
        </div>
        <div class="mobile-contact1">
            <p>info@sowh</p>
            <p>+7 (499) 110-20-47</p>
        </div>
    </div>
</div>
<script src="{% static 'js/ind.js.' %}"></script>
<div class="content-with-background">
    <div class="main-content">
        <div class="title-section">
            <div class="page-path">Главная / Новости</div>
            <h1>Новости</h1>
            <div class="btn2">
                <a class="button2" href="#news">Смотреть новости</a>
            </div>
        </div>
    </div>
    <div class="header-background"></div> <!-- Блок для фона -->
</div>





{% block content %}
{% endblock %}
<div class="separator"></div>





<div class="contact-section">
    <div class="contact-image">
        <img src="{% static 'images/news/2.png' %}" alt="">
    </div>
    <div class="contact-content">
        <h2>Остались вопросы?</h2>
        <p>Менеджер свяжется с вами в течение 15 минут и сможет ответить на все интересующие вопросы</p>
        <div class="contact-phone">
            <p>+7 (666) 166-77-77</p>
        </div>
        <div class="contact-form">
            <input type="text" placeholder="Виктор">
            <input type="tel" placeholder="+7(916) 123-45-67">
            <button type="submit">Отправить</button>
        </div>
        <div class="contact-checkbox">
            <input type="checkbox" id="agree">
            <label for="agree">Отправляя форму, я соглашаюсь с политикой обработки персональных данных</label>
        </div>
    </div>
</div>


<div class="footer">
    <div class="footer-con">
        <div class="logo">
            <img src="{% static 'images/first/logo1.png' %}" alt="">
        </div>
        <div class="footer-nav">
            <h2>Разделы</h2>
           <a class="footer-item" href="{% url 'home' %}"  >Главная</a>
            <a class="footer-item"  href="{% url 'page2' %}">Проекты</a>
            <a class="footer-item"  href="{% url 'page3' %}">Новости</a>
            <a class="footer-item"  href="{% url 'page4' %}">Озрана труда</a>
            <a class="footer-item"  href="{% url 'page4' %}">Контакты</a>
        </div>
        <div class="footer-info">
            <h1>КОНТАКТЫ</h1>
            <p>Улица, Дом</p>

        </div>
        <div class="footer-title">
            <h1>Поддержка </h1>

            <p>+7(000)000-00-00</p>
        </div>
    </div>

</div>



<div class="separator"></div>